*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, #072042f6, #0827529b, #02347af4);
}

.imagem{
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.object1,
.object2,
.object3{
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.login{
    width: 160px;
    height: 50px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px 15px 0px;
    color: bisque;
    margin: 0 -30px 0 10px;
}

.login:hover{
    background-color: rgba(14, 120, 190, 0.94);
    color: black;
    filter: brightness(1.0), blur(1);
    box-shadow: 4px 4px 12px rgba(255, 246, 246, 0.921);
    transition: background-color 0.3s, filter 0.3s, box-shadow 0.3s;
}

/* slide */
@media (min-width: 1100px) {
    .imagem {
        height: 500px;
    }

}

/* cards */
@media (max-width: 964px) and (min-width: 768px) {
    .card-s {
        width: 100%;
    }
}
/* Rodapé */
@media (max-width: 620px) {
    .footer-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3px 3px;
        color: #005ee1;
        font-weight: 600;
    }
}